<mat-toolbar color="primary">Welcome to {{ title }}! - {{ getDate() | date:'dd MMMM yyyy hh:mm:ss' }}</mat-toolbar>

<h1 i18n="hello|Bonjour">Hello</h1>

<!-- <p *ngFor="let poney of ponies">{{ poney | clone }}</p>

<amb-race
  *ngFor="let race of races"
  [race]="race"
>
</amb-race> -->

<button routerLink="/" mat-button>Home</button>
<button routerLink="/race-create" mat-button>Create Race</button>
<button routerLink="/admin" mat-button>Admin Dashboard</button>

<router-outlet></router-outlet>